body{
    background-color:orange;
    text-align: center;
}
#spooky-house{
    border-style:solid;
}
h2{
    background-color:purple;
    border-style:ridge;
}
h1{
    background-color:blueviolet;
    border-style:double;
}
table, td,th {
    border:5px solid rgb(104, 2, 73);
}
table{
    width:50%;
    margin-left:25%;
}
p{
    border-style:groove;
    border-color: rgb(36, 75, 247);
    font-style: italic;
    background-color:fuchsia;
    font-size:30px;
    border-width:25px;
}
.back{
    font-style:italic;
    background:burlywood;
    border-style:ridge;
    border-width:15px;
    color:black;
}

